@using ECommerce.Application.ViewModels.Product;

@model List<ProductViewModel>

@{
    ViewData["Title"] = "Productos";
}

<div class="row mb-3">
    <div class="col-3 offset-9">
        <a  class="btn btn-success" asp-controller="Product" asp-action="Create">Agregar Producto</a>
    </div>
</div>

<div class="row">


    <div class="col-10 offset-1">

        <div class="row">


            @if (Model == null || Model.Count == 0)
            {

                <h2 class="mt-3">No hay productos que mostrar</h2>
            }
            else
            {

                @foreach (ProductViewModel product in Model)
                {

                    <div class="col-5">
                        <div class="card shadow-sm mb-3">
                            <img class="bd-placeholder-img card-img-top" src="@product.ImagePath" />

                            <div class="card-body">
                                <h4>@product.Name</h4>
                                <p class="card-text"><strong>Precio: </strong>@product.Price</p>


                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Editar</a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Eliminar</a>

                            </div>
                        </div>
                    </div>
                }

            }



        </div>
    </div>

</div>
