@using ECommerce.Application.ViewModels.Product;

@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Products";
}

<div class="row">
    
    <div class="col-10 offset-1">
        <div class="row">

            @if (Model == null || Model.Count == 0)
            {

                <h2 class="mt-3">No hay productos agregados</h2>
            }
            else
            {

                @foreach (ProductViewModel product in Model)
                {

                    <div class="col-5">
                        <div class="card shadow-sm mb-3">
                            <img class="bd-placeholder-img card-img-top" src="@product.ImagePath" />

                            <div class="card-body">
                                <h4>@product.Name</h4>
                                <p class="card-text"><strong>Precio: </strong>@product.Price</p>


                                <a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-info">Detalle</a>
                                @if (product.Quantity != 0)
                                {
                                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-success">Agregar al carrito</a>
                                }
                                else
                                {
                                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-success disabled" role="button" aria-disabled="true">Agregar al carrito</a>
                                    
                                }
                            </div>
                        </div>
                    </div>
                }

            }





        </div>
    </div>

</div>
